.mainContainer {
    display: flex;
    justify-content: center; 
    padding: 40px 20px;
    background: rgb(237,134,184);
background: linear-gradient(155deg, rgba(237,134,184,1) 0%, rgba(253,253,255,1) 49%, rgba(253,253,255,1) 100%);
  }
  
  .textImageContainer {
    
    display: flex;
    align-items: center; 
    max-width: 1200px; 
    width: 100%; 
    background-color: #fff; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
    border-radius: 8px; 
    overflow: hidden; 
  }
  
  .textContainer {
    flex: 1; 

  }
  
  .title {
    font-size: 50px;
    font-weight: bold;
    color: #333;
  }
  
  .subtitle {
    font-size: 36px;
    color: #ff4081;
    margin: 0 0 10px 0;
  }
  
  .description {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
  }
  
  .startButton {
    background-color: #ff4081;
    color: #fff;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .startButton:hover {
    background-color: #e0356e;
  }
  
  .image {
    flex: 1; /* Занимает все доступное пространство */
    max-width: 100%; /* Максимальная ширина изображения */
    height: auto; /* Автоматическая высота изображения */
    object-fit: cover; /* Изображение будет обрезано, если не помещается */
  }
  